* {
	margin: 0;
	padding: 0;
}
.container {
	width: 1000px;
	height: 30px;
	background-color: lightblue;
	font-size: 0;
}
.item {
	display: inline-block;
	width: 198px;
	height: 30px;
	border: 1px solid red;
	margin: 0;
	padding: 0;
	/* background-color: lightblue; */
}